@model BudgetTracker.Models.Budget

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Budget</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Budget Item
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            Monthly Budget
        </dt>
        <dd>
            @Html.DisplayFor(model => model.amount_budget)
        </dd>
        <dt>
            Added
        </dt>
        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>
        <dt>
            Last Updated
        </dt>
        <dd>
            @Html.DisplayFor(model => model.updated_at)
        </dd>
    </dl>
</div>
<div>
    <h5>Transactions</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Transactions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.created_at)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.amount_trans)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                </tr>
             }
         </tbody>
      </table>
</div>
<hr />

<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
